@import '../../styles/mixins.scss';

.header {
  display: flex;
  margin: 0 15px;

  ul {
    @include list-style-reset;

    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 20px 40px;

    &:hover {
      background-color: gainsboro;
    }
  }
}