@import '../../styles/mixins.scss';

.categories {
  margin: 0 15px 0;

  h2 {
    margin: 0 0 40px;
    padding: 40px 0 0;

    font-weight: 400;
    font-size: 30px
  }

  ul {
    @include list-style-reset;

    display: flex;
    flex-wrap: wrap;
  }
}