@import 'tailwindcss';

:root {
  --background: #ffffff;
}
@theme {
  --color-primary: #3629b7;
  --color-primary-light: #5655b9;
  --color-primary-lighter: #a8a3d7;
  --color-primary-lightist: #f2f1f9;
  --color-background: var(--background);
  --color-gray-default: #979797;
  --color-neutral: #343434;
  --color-neutral2: #898989;
  --color-gray-border: #cbcbcb;
}

@layer utilities {
  .no-calendar::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

body {
  background: var(--background);
  color: #343434;
  font-family: Arial, Helvetica, sans-serif;
}
