@import 'tailwindcss';

:root {
  --background: #ffffff;
}
@theme {
  --color-primary: #3629b7;
  --color-primary-light: #5655b9;
  --color-primary-lighter: #a8a3d7;
  --color-primary-lightist: #f2f1f9;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
