@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.expenses {
  font-size: 16px;

  h2 {
    margin: 0 0 20px;
    padding: 20px 0 0;

    font-weight: 400;
    font-size: 30px
  }

  &__table {
    margin-bottom: 30px;
    padding: 30px 50px;
    width: 700px;
    background-color: white;
  }

  &__list {
    @include list-style-reset;

    margin-bottom: 30px;
    border-radius: 10px;
  }

  &__button {
    @include button-style-reset;
    margin-bottom: 20px;
    padding: 5px;
    background-color: $color-background;
    border-radius: 5px;

    svg {
      height: 35px;
      width: 35px;
    }
  }
}