@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin input-style-reset {
  padding: 0;

  border: none;

  &:focus {
    outline: none;
  }
}

@mixin button-style-reset {
  padding: 0;

  font-size: 0;
  color: inherit;

  background: none;
  outline: inherit;
  border: none;

  cursor: pointer;
}